.fc .fc-view-harness-active > .fc-view {
  background-color: #282c34;
  padding: 1rem;
  border-radius: 0.2rem;
}

.fc .fc-button-primary {
  color: #fff;
  color: var(--fc-button-text-color, #fff);
  background-color: #2c3e50;
  background-color: #282c34;
  border-color: #2c3e50;
  border-color: #282c34;
}

.fc .fc-button-primary:disabled {
  color: #fff;
  color: var(--fc-button-text-color, #fff);
  background-color: #2c3e50;
  background-color: #282c34;
  border-color: #2c3e50;
  border-color: #282c34;
}

.fc .fc-button-primary:not(:disabled):active,
.fc .fc-button-primary:not(:disabled).fc-button-active {
  color: #fff;
  color: var(--fc-button-text-color, #fff);
  background-color: #1a252f;
  background-color: #1c2025;
  border-color: #151e27;
  border-color: #1c2025;
}

table.fc-scrollgrid.fc-scrollgrid-liquid thead {
  background: #1c2025;
}

.fc-scrollgrid-sync-inner {
  padding: 6px;
}

.fc-theme-standard td,
.fc-theme-standard th {
  border: 1px solid #ddd;
  border: 1px solid #1c2025;
}

.fc-theme-standard .fc-scrollgrid {
  border: 1px solid #ddd;
  border: 2px solid #1c2025;
}

.fc .fc-daygrid-day-frame {
  position: relative;
  /* min-height: calc(100vh / 5); */
}

.fc.fc-media-screen.fc-direction-ltr.fc-theme-standard {
  height: 100%;
}

.fc .fc-daygrid-body-balanced .fc-daygrid-day-events {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.fc-h-event {
    display: block;
    border: 1px solid #8a593e85;
    border: 1px solid #8a593e;
    background-color: #8a593e85;
    background-color: #8a593e85;
    height: 30px;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 2px solid rgb(224, 130, 88);
}

.fc .fc-daygrid-event-harness {
    position: relative;
    display: flex;
    justify-content: center;
}

@media (max-width: 425px) {
  .fc .fc-toolbar-title {
    font-size: 0.8rem;
    margin: 0;
  }
  .makeStyles-appBar-5 {
    z-index: 1301;
  }

  .fc .fc-view-harness-active > .fc-view {
    padding: 0rem;
  }
}

@media (max-width: 960px) {
  .fc .fc-toolbar.fc-header-toolbar {
    margin: 0.5rem;
  }
}
